<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration debug = "true">

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender" >
		<Layout class="ch.gos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</Pattern>
		</Layout>
    </appender>

    <appender name="aiAppender" class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender">
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="aiAppender"/>
    </root>

</configuration>